<header>
    <h1>{{ site.title }}</h1>
    {%-if site.theme_config.show_description-%}
      <p>{{ site.description }}</p>
    {%-endif-%}
    <dir style="text-align: left; display: flex; justify-content: center;">
      {% for i in site.data.categories %}
      <p style="margin-inline: 4px;  text-decoration: none; text-transform: capitalize;{% if page.category == i.category %} background-color: #07b10f;{%endif%}"><a href="{{i.url}}">{{i.category}}</a></p>
      {% endfor %}
    </dir>
  </header>
<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}/</a>